- form_for(@document, :url => documents_path(@document, "X-Progress-ID" =>  @uuid), :html => { :multipart => true, :method => :post } ) do |f|
	= hidden_field_tag 'X-Progress-ID', @uuid 
	= error_messages_for :document
	= labeled_input f, :name
	.labeled_input	
		= f.label :description
		= f.text_area :description
	= labeled_input f, :data, :input => f.file_field(:data) 
	= f.submit 'upload document', :class => 'submit'
	/ = labeled_input f, nil, :input => f.submit, :nolabel => true, :class => 'submit'
